{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  {% for note in object_list %}
    {% if user == note.author %}
    <div class="card">
      <div class="card-header">
        <span class="text-muted">Автор: {{ note.author }} | {{ note.date }}</span>
        <a href="{% url 'note_edit' note.pk %}">Редактировать</a> | <a href="{% url 'note_delete' note.pk %}"><font color="red">Удалить</font></a>
        </div>
      <div class="card-body">
        {{ note.text|safe }}
      </div>
      </div>
      <br>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock content %}